.mediaItemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  max-width: 2000px;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 50px;
}
@media screen and (orientation: portrait) {
  .mediaItemContainer {
    width: 90%;
  }
}

.mediaItem {
  background-color: #1c1c1c;
  width: 45%;
  min-width: 20vmax;
  max-width: 50vmax;
  margin: 10px 10px 10px 10px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 0px 50px #030303;
          box-shadow: 0px 0px 50px #030303;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}
@media screen and (orientation: portrait) {
  .mediaItem {
    width: 100%;
  }
}

.mediaItem:hover {
  -webkit-box-shadow: 0px 0px 35px 10px #030303;
          box-shadow: 0px 0px 35px 10px #030303;
}

.mediaItem:hover img.media {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.mediaItem:hover .mediaItemHint {
  top: 0;
}

.mediaItemHint {
  position: absolute;
  right: 0;
  top: -60%;
  margin: 3%;
  background: #141414;
  -webkit-box-shadow: 4px 4px #d38c1c;
          box-shadow: 4px 4px #d38c1c;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
}

.mediaText, h1.mediaHeader {
  margin: 20px;
  position: relative;
  display: inline-block;
}

h1.mediaHeader {
  color: #d38c1c;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  font-style: italic;
}

img.media {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  display: block;
}