/*text*/
.teamname {
  font-size: 2rem;
  margin-top: 2.75vh;
}

.teamroles {
  font-size: 1.5rem;
  margin-bottom: 0px;
  margin-top: 2.25vh;
}

/*images*/
.profile img {
  width: 100%;
  margin-bottom: -2vh;
  pointer-events: none;
}

/*divs*/
.profile {
  position: relative;
  width: max(20%, 15vh);
  top: 0;
  background-color: #0f0f0f;
  padding: 1.5vh;
  margin: 2vh;
  margin-left: 3vh;
  margin-right: 3vh;
  text-decoration: none;
  -webkit-transition: top ease 0.25s, -webkit-box-shadow ease 0.25s;
  transition: top ease 0.25s, -webkit-box-shadow ease 0.25s;
  transition: box-shadow ease 0.25s, top ease 0.25s;
  transition: box-shadow ease 0.25s, top ease 0.25s, -webkit-box-shadow ease 0.25s;
}
@media screen and (orientation: portrait) {
  .profile {
    width: 100%;
  }
}

.teamlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 0.5vh;
  margin-bottom: 2vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profile:hover, .profile:focus-within {
  top: -10px;
  -webkit-box-shadow: 4px 4px #d38c1c;
          box-shadow: 4px 4px #d38c1c;
}

@media screen and (orientation: portrait) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (orientation: portrait) {
  p {
    font-size: 1.5rem;
  }
}